.product{
	padding-bottom: 17px;
}

.product-title{
	line-height: 73px;
	font-size: 18px;
	margin: 11px 0; 
}

.product-title__name{
	text-decoration: underline;
}

.product-title__img{
	display: inline-block;
	position: relative;
	&:before{
		content: '';
		display: block;
		width: 73px;
		height: 73px;
		position: absolute;
		background-color: $accent;
		border-radius: 50%;
		left: 0;
		right: 0;
		top: 0;
		margin: 0 auto;
		z-index: -1;
	}
	img{
		max-width: 111px;
	}
}

.product-form{
	.sort-list{
		height: 50px;
		line-height: 50px;
		width: 100%;
		font-size: 18px;
		option{
			height: 50px;
		}
	}
	.selecttext{
		line-height: 50px;
		font-size: 18px;
		font-family: $default-font;
	}
	.fancyselect{
		width: 100%;
		border: none;
		background: $bg;
		border-radius: 0;
		.arrows{
			height: 50px;
			width: 50px;
			top: 0;
			right: 0;
			background: url('../images/select-arr.png');
			background-repeat: no-repeat;
			background-position: center;
			background-color: $bg-dark;
		}
	}
	.btn{
		width: 100%;
	}
}

.product-table{
	min-width: 1140px;
	margin-top: 28px;
	td{
		padding: 20px 4px 20px 8px; 
		border: 1px solid $bg-dark;
		background-color: $bg;
		vertical-align: top;
	}
	thead{
		font-weight: 900;
		td{
			padding-top: 12px;
			padding-bottom: 12px;
			border: none;
			background-color: #fff;
		}
	}
	tbody{
		td{
			&:nth-child(1){
				width: 12%;
			}
			&:nth-child(2){
				width: 9%;
			}
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5){
				width: 8%;
			}
			&:nth-child(6){
				width: 15%;
			}			
			&:nth-child(7){
				width: 16%;
			}
			&:nth-child(8){
				width: 23%;
			}
		}
	}
}

.rating{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		display: inline-block;
		float: left;
		margin-right: 1px;
		color: #ecda0e;
		&.dark{
			color: #dfdfdf;
		}
	}
}

.condition-icon{
	display: block;
	font-size: 36px;
	color: $accent;
}

.product-price,
.product-phone{
	display: block;
	font-size: 24px;
	color: $accent;
}

.product-btn{
	width: 100%;
	position: relative;
	font-size: 11px;
	padding: 0;
	padding-right: 50px;
	text-align: center;
	span{
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		top: -1px;
		right: -1px;
		background-color: $accent-dark;
		font-size: 22px;
	}
}

.product-table-wrap{
	width: 100%;
	@include bp(lg){
		overflow-y: scroll;
	}
}