// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$default-font: "HelveticaNeue", sans-serif;
$accent: #1b8e0b;
$accent-dark: #18690c;
$bg: #f7f7f7;
$bg-dark: #e4e4e4;